.brick-container{
    width: 250px;
    height: 100px;
    background-color: indianred;
    margin: 5px;


    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;



}